# Foundry
contracts/cache/
contracts/out/
contracts/broadcast/

# Node
node_modules/
.pnpm-store/
*.tsbuildinfo
dist/
build/
**/coverage/
.next/
.turbo/

# Env
.env
.env.local
.env.*.local
!.env.example

# OS
.DS_Store
*.log
*.pid

# Editor
.vscode/
.idea/
*.swp

# Next.js
**/next-env.d.ts
